    canvas {
        display: block;
        margin: auto;
    }
    
    body {
        background-image: url("https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1129&q=80");
    }
    
    #gameover {
        background-size: cover;
        border-radius: 25px;
        display: none;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(16px);
        font-family: "Mochiy Pop P One";
        font-size: 70px;
        position: absolute;
        width: auto;
        height: auto;
        left: 39%;
        top: 25%;
        color: rgba(63, 1, 24, 0.836);
    }
    
    #back {
        height: 100%;
        background-size: 100%;
        border-radius: 25px;
        display: none;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(16px);
    }
    
    #update {
        position: center;
    }